body {
    background-color: blueviolet;
    font-family: "Comic Sans MS";
    margin: auto;

}
.cabecera {
    background: deepskyblue;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.logo {
    width: 110px;
    height: 100px;
}
.barra navegacion {
    display: flex;
    justify-content: flex-end;
}
.cambio puntero {
    color: sandybrown;
    font-family: Jokerman;
    text-decoration: none;
    padding: 21px 5px;
    font-size: 20px;
}
.menu navegador {
    font-size: 40px;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.cambio puntero:hover {
    color: #000000;
    background-color: greenyellow;
}
#text-sandybrown {
    color: sandybrown;
    font-weight: bold;
    font-family: Jokerman ;
    font-size: 80px;
    text-align: center;
}
.fondo img {
    width: 1350px;
    height: 1013px;

    flex-wrap: wrap;
}
.texto {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding: 25px;
}
.intro {
    font-weight: normal;
    font-style: normal;
    font-family: "Century Gothic";
}
.foto {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 30px;
    display: flex;
}
.foto img {
    max-width: none;
    min-width: 250px;
    height: 250px;
    flex-wrap: wrap;
}
@media (max-width: 414px) {
    .foto {
        border-radius: 15px;
    }
}
.equipo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.miembro {
    padding: 0 30px;
}



